@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #1f2937;
  color: #1f2937;
}

button {
  cursor: pointer;
}

.button {
  background: linear-gradient(
    90deg,
    #6395f2,
    #a078f7
  ); /* Gradient od jasnego niebieskiego do jasnego fioletu */
  color: white;
  border: none;
  border-radius: 40px;
  width: 90%;
  padding: 10px 20px;
  margin: 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Subtelny cień */
}

.button:hover {
  transform: scale(1.02); /* Lekkie powiększenie przy najechaniu */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: scale(0.98); /* Delikatne zmniejszenie przy kliknięciu */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* Ukrycie paska przewijania w IE i Edge */
  scrollbar-width: none; /* Ukrycie paska przewijania w Firefox */
}